{
  {% if actual_docker_path is defined %}
  "data-root": "{{ actual_docker_path }}",
  {% endif %}
  "log-driver": "{{ docker_log_driver }}",
  "log-opts": {
    "max-size": "{{ docker_log_max_size }}",
    "max-file": "{{ docker_log_max_file }}"
  },
  {% if docker_insecure_registries | length > 0 %}
  "insecure-registries": {{ docker_insecure_registries | to_json }},
  {% endif %}
  {% if docker_registry_mirrors | length > 0 %}
  "registry-mirrors": {{ docker_registry_mirrors | to_json }},
  {% endif %}
  {% if docker_dns | length > 0 %}
  "dns": {{ docker_dns | to_json }},
  {% endif %}
  "experimental": {{ docker_experimental | lower }}
} 